*{
margin:0;
padding: 0;
box-sizing:border-box;
}

body{
    background-color:rgb(233, 224, 207);
    font-family:"Helvetica", "Tahoma", "sans-serif";
}

.box{
    width: 700px;
    padding: 20px 0px;
    margin: 0px auto;
    background-color: rgb(233, 224, 207)
}

h1{
    width: 700px;
    margin-bottom: 15px;
}

h3{
    padding: 5px 0px;
}

img{
    display: block;
    margin: auto;
    height:auto;
    width:700px;  
}

p{
    padding: 0px 0px 15px;
}

ul.myUL li,
ol.myUL li{
    padding: 5px;
}

.no-bullets{
    list-style-type:none;
}

ul.menu li{
    display: inline-block;
    background-color: rgb(233, 224, 207);
    font-family:"Times New Roman", "sans-serif";
    padding: 10px;
    text-align: center;
}