*{
margin:0;
padding: 0;
box-sizing:border-box;
}

.box{
    outline: 2px solid rgb(175, 175, 135);
    background-color:rgb(230, 231, 220);
    padding: 20px;
}


div.centre{
    text-align:center;
}

body.bgcolor{
    background-color:beige;
    font-family:"Helvetica", "Tahoma", "sans-serif";
}

img{
    height:auto;
    width:500px;
}

ul.myUL li{
    background-color:grey;
}

ul li{
    background-color: rgb(231, 159, 159);
}

ul.myUL,
ol.myUL{
    display: inline-block;
    text-align:left;
}


.no-bullets{
    list-style-type:none;
}

ul.menu li{
    background-color: rgb(233, 233, 191);
    font-family:"Times New Roman", "sans-serif"
}