*{
margin:0;
padding: 0;
box-sizing:border-box;
background-color:#fdf4cb;
}

div.centre{
    margin: 25px;
    width: auto;
    text-align: center;
}

body.bgcolor{
    background-color:beige;
    font-family:"Helvetica", "Tahoma", "sans-serif";
}

.box{
    padding: 20px;
    border: rgb(185, 165, 139) 2px;
}

img{
    height:auto;
    width:500px;
}

ul.myUL li{
    background-color:grey;
}

ul li{
    background-color: rgb(231, 159, 159);
}

ul.myUL,
ol.myUL{
    display: inline-block;
    text-align:left;
}


.no-bullets{
    list-style-type:none;
}

ul.menu li{
    background-color: rgb(233, 233, 191);
    font-family:"Times New Roman", "sans-serif"
}